### MySQL配置
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USERNAME=
MYSQL_PASSWORD=
MYSQL_DATABASE=

### 邮箱服务配置
NODEMAILER_HOST=
NODEMAILER_PORT=
NODEMAILER_SECURE=
NODEMAILER_USER=
NODEMAILER_PASSWORD=

### 验证码配置
CAPTCHA_PUBLIC_SITEKEY=
CAPTCHA_PRIVATE_SITEKEY=

### Jwt配置
JWT_EXPIRE=7200
JWT_SECRET=

### 阿里云oss配置
OSS_REGION=
OSS_ENDPOINT=
OSS_ACCESSKEYID=
OSS_ACCESSKEYSECRET=
OSS_BUCKET=
OSS_TIMEOUT=
OSS_ROLEARN=
OSS_SESSIONNAME=