.layout-provider {
    height: 100%;
    overflow: hidden;
    position: relative;
}

.layout-pager {
    width: 100%;
    height: 100%;
    max-width: 1280px;
    box-sizing: border-box;
    padding: 0 32px;
    margin: 0 auto;
    @media (max-width: 960px) {
        padding: 0 16px;
    }
}
